
*{ margin:0; padding:0; }
a,a:hover{text-transform: none; text-decoration:none; color:#3050aa;}
body{ font-family: arial; background-color:#333; }

#menu{
	display: flex;
	align-items:center;
	line-height: 15px;
	box-shadow: 2px 2px 15px gray;

}
#menu ul {
	list-style: none;
}
#menu ul li{
	position: absolute;
	width:150px;
	top:20px;
	margin-left: 10px;
}
#menu a {
	color:white !important;
}

footer{
	margin-top:100px;
	padding:10px;

	color:#aaa;
	background-color:#777;
	text-align: right;
}
footer a{
	color:white;
}
footer span{
	margin-right:4%;
}